{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<div class="hero-body">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-5 is-offset-1 landing-caption">
                <h1 class="title is-1 is-bold is-spaced">
                    Django Classroom
                </h1>
                <h2 class="subtitle is-5 is-muted">Acompanhe de forma simplificada o desempenho de seus alunos no Google Sala de Aula</h2>
                <div class="button-wrap">
                    <a class="button cta is-rounded primary-btn raised">
                        Acessar
                    </a>
                    <a class="button cta is-rounded">
                        Google Classroom
                    </a>
                </div>
            </div>
            <div class="column is-5">
                <figure class="image is-4by3">
                    <img src="{% static 'img/illustrations/worker.svg' %}" alt="Description">
                </figure>
            </div>

        </div>
    </div>
</div>
{% endblock %}