{% extends "base.html" %}

{% block navbar %}
<div class="navbar-end">
    <a href="#" class="navbar-item is-secondary">
        Turmas
    </a>
    <a href="#" class="navbar-item is-secondary">
        Disciplinas
    </a>
    <a href="#" class="navbar-item is-secondary modal-trigger" data-modal="auth-modal">
        Alunos
    </a>
    <a class="navbar-item">
        <span class="button signup-button rounded secondary-btn raised">
            Acessar
        </span>
    </a>
</div>
{% endblock %}