{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>DjanGoogle Classroom</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />

    <!--Core CSS -->
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/core.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/44875e3644.js" crossorigin="anonymous"></script>

</head>

<body>
    {% block navbar %} {% endblock %}
    {% block content %} {% endblock %}
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    <!-- Fresh JS -->
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>