{% extends "base.html" %}
{% load socialaccount %}

{% block navbar %}
<div class="navbar-end">
    <a href="{% url 'classroom:course-list' %}" class="navbar-item is-secondary">
        Turmas
    </a>
    <a href="{% url 'classroom:topic-list' %}" class="navbar-item is-secondary">
        Disciplinas
    </a>
    <a href="#" class="navbar-item is-secondary modal-trigger" data-modal="auth-modal">
        Alunos
    </a>
    {% if user.is_authenticated %}
        <figure class="image is-64x64"><img src="{{ user.avatar }}" alt="Avatar" class="is-rounded"></figure>
        {{ user.name }}
    {% else %}
        <a class="navbar-item" href="{% provider_login_url 'google' next='/' %}">
            <span class="button signup-button rounded secondary-btn raised">
                Acessar com &nbsp;<i class="fab fa-google"></i>
            </span>
        </a>
    {% endif %}
</div>
{% endblock %}