{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<div class="container">
    <table class="table is-striped">
        <tbody>
            <th>#</th>
            <th>Turma</th>
            <th>Série</th>
            <th>Link</th>
            <th>Email</th>
            <th>Email</th>
            <th>Atualizada há</th>
            <th>Performance</th>
            {% for course in courses %}
            <tr class="{% cycle 'table-striped-row-even-background-color' '' %}">
                <td><figure class="image is-32x32"> <img src="{{ course.avatar_url }}" class="is-rounded" alt="{{ course.mnemonic }}"></figure></td>
                <td>{{ course.name }}</td>
                <td>{{ course.section }}</td>
                <td><a href="{{ course.link }}" alt="link turma" target="_blank"><span class="icon"><i class="fas fa-external-link-alt"></i></span>Acessar</a></td>
                <td><a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ course.teachers_email }}" alt="email professores" target="_blank"><span class="icon"><i class="fas fa-envelope-open-text"></i></span>Professores</a></td>
                <td><a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ course.course_email }}" alt="email turma" target="_blank"><span class="icon"><i class="fas fa-mail-bulk"></i></span>Alunos</a></td>
                <td>{{ course.updated_at|timesince }}</td>
                <td><progress class="progress is-info" value="40" max="100">{{ forloop.counter}} %</progress></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}